.archive {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 80px 1em;
}

.archive-container {
    width: var(--width-content);
}

.archive .page--container .permalink {
	display: flex;
    margin-bottom: 0.25em;
    text-decoration: underline; 
}

.archive .post--content .permalink:hover {
    text-decoration: underline;
}

.archive .post h2 {
	line-height. 1.25;
	font-weight: bold;
    margin-top: 0;
}

.archive .page--container a {
    text-decoration: none;
}

.archive .wp-post-image {
    border-radius: 8px;
    width: 250px;
    height: auto;
}

.single .wp-post-image {
    border-radius: 8px;
	max-width: 300px;
}

.read-more {
    display: none;
}
.post-image {
    height: auto;
    width: 250px;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
    .archive {
        padding: 0;
    }

    .archive-container {
        padding: 30px 1em 100px 1em;
        width: 100%;
    }
	
	.single .wp-post-image {
		max-width: 100%;
	}
}

@media (max-width: 700px) {
	.archive .post-image {
		margin-right: 0;
	}
}
