.article {
  max-width: 650px;
}

.article .post-image .featured--image {
  max-width: 700px;
}

.article .post-image {
  width: 100%;
}

.archive .post--content p {
  margin: 0;
}

.article img {
  margin-top: 1em;
}

.single h1 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.page--container .single a {
  color: var(--primary-color);
  text-decoration: underline;
  word-wrap: break-word;
}

.featured--image {
  max-width: 700px;
}

.archive .wp-post-image {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 300px;
  max-width: 100%;
}

.article--meta {
  display: inline-block;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.single .article--meta,
.article--date {
  margin-top: 0;
  margin-bottom: 0.25em;
}

.single .article--meta {
  margin-bottom: 3em;
}

.post-credit {
  display: inline-block;
  font-style: italic;
  margin-top: 30px;
}

.post-credit a {
  color: var(--black);
  text-decoration: none;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  .single h1 {
    line-height: 1.25;
  }

  .single .wp-post-image {
    display: block;
    height: auto !important;
    width: 100% !important;
    margin-bottom: 0.5em;
  }

  .single img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .single .article .post-image .featured--image .wp-post-image {
    height: auto;
    width: 100% !important;
  }
}

@media screen and (max-width: 1175px) {
  .post {
    gap: 1em;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 900px) {
  .post {
    gap: 0;
  }
  .article {
    max-width: 100%;
  }

  .single .wp-post-image {
    height: auto;
    width: 100%;
  }

  .single .article--meta {
    margin-bottom: 2em;
  }
}

/* Mobile Breakpoint */

@media (max-width: 700px) {
  .archive .post {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .post-image,
  .archive .wp-post-image {
    width: 100%;
    max-width: 700px;
  }
}
