footer {
  padding: 50px 0 10px 0;
}

footer .widget h2 {
  font-weight: 400;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.25em;
  padding-bottom: 0;
  white-space: nowrap;
}

footer .widget ul li {
  display: block;
  font-family: var(--primary-font-family);
  list-style: none;
}

footer .widget ul li:last-child {
  margin-bottom: 0;
}

footer a.footer-link {
  color: var(--tag-color);
}

footer .widget a:hover {
  text-decoration: underline;
}

footer .widget .textwidget {
  max-width: 300px;
}

.footer--content .widgets {
  display: flex;
  margin: 0 auto;
  max-width: var(--width-content);
}

.footer--credit {
  display: flex;
  justify-content: space-between;
  max-width: var(--width-content);
  margin: 0 auto;
  padding-top: 150px;
}

.footer--credit {
  margin: 0 auto 1em auto;
}

#backToTop {
  align-self: end;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
}

#backToTop:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Desktop Breakpoint */
@media (max-width: 1200px) {
  .footer--content .widgets {
    margin: 0 1em;
  }

  footer .widget h2 {
    margin-top: 0;
  }

  .footer--credit {
    flex-direction: column;
    padding-top: 100px;
    padding-left: 1em;
    padding-right: 1em;
  }

  #backToTop {
    display: inline-block;
    margin-top: 3em;
  }
}

@media (max-width: 900px) {
  footer .widget .textwidget {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 700px) {
  .footer--credit {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .footer--credit > span:first-child {
    display: none;
    opacity: 0;
  }

  .footer--credit a {
    line-height: 1.75;
  }

  #backToTop {
    width: 100%;
    text-align: center;
  }
}
