.front-page .page--container .permalink {
  text-decoration: none;
}

.front-page .page--container a {
  text-decoration: none;
}

.homepage-widget {
  align-items: center;
  display: flex;
  background: var(--bg-color);
  justify-content: center;
  padding: 3rem 0;
}

.homepage-widget h1 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 700 !important;
  max-width: 1200px;
  margin: 0 1rem;
  padding: 0 1rem;
}
