.front-page .page--container .permalink {
  text-decoration: none;
}

.front-page .page--container a {
  text-decoration: none;
}

.nav-links .page-numbers {
  line-height: 1.7;
}

.homepage-widget {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}
