header {
  background: white;
  border-bottom: 1px solid #eaecef;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav {
  align-items: center;
  display: flex;
  width: var(--width-content);
}

header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header nav ul li a {
  color: var(--black);
  display: inline-block;
  padding-top: 1em;
  margin: 0 1em;
  white-space: nowrap;
}

header nav ul li a {
  border-bottom: 3px solid white;
}

header nav ul li a:hover {
  border-bottom: 3px solid var(--blue);
}

.active {
  border-bottom: 3px solid var(--blue);
}

.nav--logo {
  display: none;
  width: 250px;
}

.nav--title {
  color: var(--black);
  font-size: 28px;
  font-weight: bold;
  min-width: 250px;
}

.nav--tagline {
  font-size: 12px;
  margin-bottom: -8px;
  width: 501px;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  header nav ul li a {
    border-bottom: none;
  }

  nav {
    align-items: flex-start;
    padding: 0 1em;
  }

  nav {
    flex-direction: column;
  }

  #nav {
    display: none;
  }

  #nav-btn {
    background: transparent;
    border: none;
    color: white;
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .toggle-nav {
    color: var(--black);
    font-size: 21px;
    padding: 1.2em 1.5em;
    padding: 1.1em 1.5em;
  }

  #nav.responsive {
    display: block;
    margin-top: 1em;
    text-align: left;
  }

  #nav a {
    padding: 1em 1em 1em 0;
    width: 100%;
  }

  #nav.responsive a:hover {
    background: white;
    color: var(--black);
  }

  #nav li:not(:last-child) {
    border-bottom: 1px solid #eaecef;
  }

  .nav--title {
    font-size: 26px;
  }

  .nav--tagline {
    margin-left: 2px;
    width: 100%;
  }
}
