header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding: 0.75em 0;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: var(--width-content);
}

header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  color: var(--header-link-color) !important;
  font-size: 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

header nav ul .active a {
  text-decoration: underline;
}

.right-nav {
  align-items: baseline;
  display: flex;
}

.nav--logo {
  display: none;
  width: 250px;
}

.nav--title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-right: 8px;
  min-width: 205px;
}

.nav--tagline {
  font-size: 12px;
  margin-bottom: -8px;
  width: 501px;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  header {
    padding: 0.5em 0 0 0;
  }

  header nav ul {
    margin-top: 1em;
  }

  header nav ul li {
    margin: 0;
  }

  header nav ul li a {
    border-bottom: none;
    margin: 0;
  }

  header nav ul li a:hover {
    border-bottom: none;
  }

  nav {
    align-items: flex-start;
    padding: 0 1em;
  }

  nav {
    flex-direction: column;
  }

  .active {
    border-bottom: none;
  }

  #nav {
    display: none;
  }

  #nav-btn {
    background: var(---bg-color);
    border: 1px solid var(--font-color);
    border-radius: var(--border-radius);
    color: var(--font-color);
    cursor: pointer;
    display: block;
    font-size: 21px;
    float: right;
    padding: 0.25em 1em;
    position: absolute;
    top: 0.5em;
    right: 1em;
  }

  #nav.responsive {
    display: block;
    margin-top: 0.5em;
    text-align: left;
  }

  #nav a {
    padding: 0.75em 1em 0.75em 0;
    width: 100%;
  }

  #nav li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  #nav li:last-child {
    border-bottom: none;
    padding-bottom: 1em;
  }

  .nav--title {
    font-size: 26px;
  }

  .nav--tagline {
    margin-top: -3px;
    margin-left: 2px;
    width: 100%;
  }
  #nav-btn[aria-expanded="false"] + #nav {
    display: none;
  }

  #nav-btn[aria-expanded="true"] + #nav {
    display: block;
  }

  .toggle-divider {
    display: none;
  }

  .right-nav {
    /* border-top: 1px solid var(--border-color); */
    flex-direction: column;
    margin-top: 0.5em;
    min-width: 100%;
    width: -webkit-fill-available;
  }
  .theme-switch-container {
    border-bottom: 1px solid var(--border-color);
    padding: 0.75em 1em 0.75em 0;
  }
}

@media (max-width: 800px) {
  .homepage-image {
    height: 125px !important;
  }

  .homepage-widget-h1 {
    font-size: 26px !important;
  }
}
