.page {
  display: flex;
  justify-content: center;
  padding: 80px 1em;
}

.page--container {
  /* display: grid; */
  /* grid-auto-flow: column; */
  justify-content: space-between;
}

.page--container p a,
.page--container li a {
  color: var(--primary-color);
}

.page--content {
  max-width: 800px;
}

.page-main .page--container .page--content {
  max-width: 700px;
}

.page--content h1 {
  margin-bottom: 1.5em;
}

.page--content h2 {
  line-height: 1.35;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.125em;
}

.page--content .post--content h2 {
  margin-top: 0;
}

.single h2 {
  font-weight: bold;
}

.page--content p,
.single p {
  margin: 15px 0;
}

.page--container a,
.page--container .page-content-full a {
  text-decoration: underline;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  .page {
    padding: 30px 1em;
  }

  .page--container {
    padding: 30px 1em;
    width: 100%;
  }

  .page--container {
    padding: 0;
  }

  .page--content {
    max-width: 100%;
  }
}

/* Tablet */

@media (max-width: 900px) {
  .page--container {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}

/* Mobile */

@media (max-width: 700px) {
  .post--content h2 {
    font-size: 1.25rem;
  }

  img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 100%;
    height: auto;
  }

  .page--container {
    width: 100%;
  }
}
