.sidebar--footer {
  margin: 0 auto;
  padding: 0 0 80px 0;
  max-width: var(--width-content);
}

.sidebar--footer--widgets {
  display: flex;
  justify-content: space-between;
}

.sidebar--footer--widget {
  width: 300px;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  .sidebar--footer--widgets {
    flex-direction: column;
  }

  .sidebar--footer--widget {
    width: 100%;
  }
}
