.sidebar {
  width: 300px;
}

.sidebar--bio:first-child,
.sidebar--widget:first-child,
.author-bio {
  margin-top: 0px;
  border-radius: 3px;
  background: #f7f7f7;
  background: #f9f9f9;
  padding: 20px;
}

.sidebar--widget {
  padding: 20px;
}

.sidebar--widget,
.sidebar--footer--widget {
  margin-top: 50px;
}

.sidebar--footer--widget h2 {
  font-weight: 400;
  margin-bottom: 1.25em;
}

.sidebar-recent-post {
  color: var(--black);
  line-height: 1.75;
}

.sidebar ul li a,
.sidebar--footer ul li a {
  color: var(--font-color);
  line-height: 1.65;
  text-decoration: underline;
}

footer .widget ul li a {
  color: var(--font-color);
}

.sidebar ul li a:hover,
.sidebar--footer ul li a:hover {
  text-decoration: underline;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li,
.sidebar--footer ul li {
  border-bottom: 1px solid #eaecef;
  list-style-type: none;
  padding-bottom: 15px;
}

.sidebar ul li:not(:first-child),
.sidebar--footer ul li:not(:first-child) {
  margin-top: 10px;
}

.page .sidebar ul li {
  margin-left: 0;
}

/* Desktop Breakpoint */

@media (max-width: 1200px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: var(--w-table)) {
  /* @media (max-width: 1024px) { */
  .sidebar {
    margin-top: 60px;
  }
}
