/* Right Sidebar */

.sidebar--bio:first-child {
  margin-top: 0px;
  border-radius: 3px;
  background: #f9f7f5;
  padding: 20px;
}

.textwidget a {
  color: var(--blue);
  text-decoration: underline;
}

.sidebar--right .sidebar--widget .textwidget a {
  text-decoration: underline;
}

.sidebar--right .sidebar--widget h3 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
