#single-post .single a {
  text-decoration: underline;
  word-wrap: break-word;
}

#single-post .single-post-sidebar {
  max-width: 675px;
  margin: 2em auto;
}

.callout {
  background: #f5f6f7;
  border-radius: 7px;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  color: #5f737a;
  font-size: 1.15rem;
}

#single-post .single {
  margin-bottom: 5em;
}

.full-width-image {
  height: 200px;
  /*     width: 100vw; */
  transform: translateX(0);
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  .callout {
    margin-bottom: 2em;
  }
}
