.tag a,
.single .tag a {
  border-radius: 3px;
  display: inline-block;
  font-size: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0px 5px 0px 0px;
  text-decoration: underline !important;
}

.archive .tag,
.article .tag {
  margin-right: 5px;
}

.tag a:hover,
.tag a:focus,
.single .tag a:hover,
.single .tag a:focus {
  text-decoration: underline;
}

a.tag-cloud-link.tag-link-position-1,
a.tag-cloud-link.tag-link-position-2,
a.tag-cloud-link.tag-link-position-3,
a.tag-cloud-link.tag-link-position-4,
a.tag-cloud-link.tag-link-position-5,
a.tag-cloud-link.tag-link-position-6,
a.tag-cloud-link.tag-link-position-7,
a.tag-cloud-link.tag-link-position-8,
a.tag-cloud-link.tag-link-position-9,
a.tag-cloud-link.tag-link-position-10,
a.tag-cloud-link.tag-link-position-11,
a.tag-cloud-link.tag-link-position-12,
a.tag-cloud-link.tag-link-position-13,
a.tag-cloud-link.tag-link-position-14,
a.tag-cloud-link.tag-link-position-15,
a.tag-cloud-link.tag-link-position-16,
a.tag-cloud-link.tag-link-position-17,
a.tag-cloud-link.tag-link-position-18,
a.tag-cloud-link.tag-link-position-19,
a.tag-cloud-link.tag-link-position-20 {
  border-radius: 3px;
  /* border: 1px solid var(--primary-color);
  color: var(--primary-color); */
  border: 1px solid var(--tag-color);
  color: var(--tag-color);
  display: inline-block;
  font-size: 1.1rem !important;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0px 15px;
}

a.tag-cloud-link:hover {
  text-decoration: underline;
}
