:root {
  /* --code-border: #7e6d57; */
  --code-border: #9d683d;
  /* --border-color: #e7e2dc; */
  --border-color: #e2e9e7;
  --bg-color: #ffffff;
  /* --font-color: #2f281f; */
  --font-color: #0e1a16;
  --heading-color: #303051;
  --inverted-font-color: #c9d1d9;
  /* --inverted-bg-color: #322b21; */
  --inverted-bg-color: #101b17;
  /* --primary-color: #7e6d57; */
  /* --primary-color: #9d683d; */
  /* --primary-color: #0066cc; */
  --primary-color: #437b68;
  /* --secondary-color: #7e6d57; */
  /* --secondary-color: #9d683d; */
  /* --secondary-color: #0a69da; */
  --secondary-color: #437b68;
  /* --tag-color: #7e6d57; */
  /* --tag-color: #9d683d; */
  /* --tag-color: #0a69da; */
  --tag-color: #437b68;
}

[data-theme="dark"] {
  --code-border: #806fe8;
  --bg-color: #0d1116;
  --border-color: #515151;
  --font-color: #d3ccc0;
  --heading-color: #26d0ec;
  --inverted-font-color: #252525;
  --inverted-bg-color: #d3ccc0;
  --primary-color: #ecb76a;
  --secondary-color: #ecb76a;
  --tag-color: #ecb76a;
}

[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: solid 1px var(--font-color);
  border-radius: 4px;
  margin-top: 0.25em;
  margin-left: 0.25em;
  position: relative;
  top: 0.25em;
}

[type="checkbox"]:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  position: absolute;
  top: 2px;
  left: 2px;
}

.theme-switch-container {
  color: var(--font-color);
  margin-right: 1em;
  border-radius: 3px;
  flex-shrink: 0;
}

.theme-switch-container label,
.theme-switch-container input {
  color: var(--font-color);
  cursor: pointer;
}

.theme-switch-container input {
  margin-right: 2em;
}

header nav .nav--title,
header nav ul .menu-item a {
  color: var(--font-color);
  font-family: var(--primary-font-family);
}

a .post-title,
a:visited .post-title {
  color: var(--primary-color);
}

a .post-title-nav,
a:visited .post-title-nav {
  color: var(--primary-color);
}

.post--content a.front-page-post-title:visited {
  color: var(--primary-color);
}

a:-webkit-any-link {
  color: var(--primary-color);
}

.breadcrumbs-container,
main,
.sidebar--footer {
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color);
}

footer {
  background: var(--bg-color);
  color: var(--font-color);
}

.page,
.post {
  border-bottom: 1px solid var(--border-color);
}

#backToTop {
  background: var(--inverted-bg-color);
  color: var(--bg-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.post-title-nav {
  color: var(--primary-color);
}
