:root {
  --code-border: #536390;
  /* --border-color: #eaecef; */
  --border-color: #53639040;
  --bg-color: #ffffff;
  /* --bg-color: #d3ccc0; */
  /* --bg-color: #fff9ef; */
  /* --font-color: #252525; */
  --font-color: #303051;
  /* --heading-color: #292922; */
  --heading-color: #303051;
  --inverted-font-color: #c9d1d9;
  /* --inverted-bg-color: #252525; */
  --inverted-bg-color: #303051;
  /* --primary-color: #0074e5; */
  --primary-color: #574ba1;
  --secondary-color: #536390;
  /* --tag-color: #252525; */
  --tag-color: #574ba1;
}

[data-theme="dark"] {
  --code-border: #806fe8;
  --bg-color: #0d1116;
  /* --border-color: #c9d1d9; */
  --border-color: #d3ccc0;
  /* --font-color: #c9d1d9; */
  --font-color: #d3ccc0;
  /* --heading-color: #818cab;  */
  --heading-color: #26d0ec;
  --inverted-font-color: #252525;
  --inverted-bg-color: #d3ccc0;
  /* --primary-color: #7ee787; */
  --primary-color: #ecb76a;
  --secondary-color: #8275c8;
  /* --tag-color: #7ee787; */
  --tag-color: #ecb76a;
}

[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: solid 1px var(--font-color);
  border-radius: 4px;
  margin-top: 0.25em;
  margin-left: 0.25em;
  position: relative;
  top: 0.25em;
}

[type="checkbox"]:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  position: absolute;
  top: 2px;
  left: 2px;
}

.theme-switch-container {
  border-radius: 3px;
  flex-shrink: 0;
}

.theme-switch-container label,
.theme-switch-container input {
  cursor: pointer;
}

.theme-switch-container input {
  margin-right: 2em;
}

header {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-bottom: 1px solid var(--border-color);
}

header nav .nav--title,
header nav ul .menu-item a {
  color: var(--font-color);
}

a .post-title,
a:visited .post-title {
  color: var(--primary-color);
}

a .post-title-nav,
a:visited .post-title-nav {
  color: var(--primary-color);
}

.post--content a.front-page-post-title:visited {
  color: var(--primary-color);
}

a:-webkit-any-link {
  color: var(--primary-color);
}

.breadcrumbs-container,
main,
.sidebar--footer {
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color);
}

footer {
  background: var(--bg-color);
  color: var(--font-color);
}

.page,
.post {
  border-bottom: 1px solid var(--border-color);
}

#backToTop {
  background: var(--inverted-bg-color);
  color: var(--bg-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.post-title-nav {
  color: var(--primary-color);
}
