@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tighter;
}

main a {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
}

/* HEADER */

header nav a {
  @apply text-zinc-950;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

header nav ul li a:hover,
header nav ul .active a {
  text-decoration: underline;
}

#breadcrumb a {
  text-decoration: underline;
}

#breadcrumb a:hover {
  text-decoration: underline;
}

@media (max-width: 1152px) {
  header nav ul li {
    margin: 0;
  }

  header nav ul li a {
    border-bottom: none;
    margin: 0;
  }

  header nav ul li a:hover {
    border-bottom: none;
  }

  #nav.responsive {
    display: block;
    margin-top: 0.5em;
    text-align: left;
  }

  #nav a {
    padding: 0.75em 1em 0.75em 0;
    width: 100%;
  }

  #nav li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  #nav-btn[aria-expanded="false"] + #nav {
    display: none;
  }
}

.homepage-widget-h1 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 700 !important;
  max-width: 1200px;
  margin: 0 1rem;
  padding: 0 1rem;
}

#hero-widget img {
  width: 150px;
  display: inline-block;
  margin-left: 2em;
  border-radius: 50%;
  border: 5px solid var(--bg-color);
}

@media (max-width: 800px) {
  .homepage-widget-h1 {
    font-size: 26px !important;
    padding: 0 !important;
  }

  #hero-widget img {
    width: 100px;
    @apply ml-4;
  }
}
